
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="listeners.RetryListener"/>
    </listeners>

    <test name="UI Automation Test">
        <packages>
            <package name="TestRunner"/>
        </packages>
    </test>
</suite>
